@font-face {
    font-family: "Gevena";
    src: url("font/Geneva.ttf") format("truetype");
}

@font-face {
    font-family: "ChelseaMarket_Regular";
    src: url("font/ChelseaMarket_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Telegrafico";
    src: url("font/Telegrafico.ttf") format("truetype");
}

@font-face {
    font-family: "Terminal_Dosis-Book";
    src: url("font/Terminal_Dosis-Book.ttf") format("truetype");
}

@font-face {
    font-family: "Terminal_Dosis-Light";
    src: url("font/Terminal_Dosis-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Terminal_Dosis-SemiBold";
    src: url("font/Terminal_Dosis-SemiBold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.site {
    width: 100%;
}

.site>div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header {
    height: 210px;
    background: #f9f9f9;
    box-shadow: 0 5px 0 #f2f2f2;
    display: flex;
    flex-direction: column;
}

.header>div {
    display: flex;
    justify-content: center;
}

.top_head {
    background: linear-gradient(#f44c23, #fa5b31, #e93315);
    height: 80px;
}

.topnav {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

#logoimg {
    margin: auto;
}

#thename {
    font-size: 28pt;
    font-family: ChelseaMarket_Regular;
    color: white;
    padding: 13px 7px;
}

.nav>div, #deviz {
    font-size: 10pt;
    font-family: Telegrafico;
    padding: 35px 7px;
    color: white;
}

#wishcount {
    padding: 33px 0;
}

.mid_head {
    background: linear-gradient(#fbf2d3, #eee5c7);
    height: 66px;
    box-shadow: 0 4px 0 #efe7cd;
}

.bot_head {
    height: 64px;
}